<template>
  <div id="about-us">
    <b-row class="text-center">
      <b-col>
        <h2 class="h2 font-weight-bold">About Us</h2>
      </b-col>
    </b-row>
    <b-row class="text-center">
      <b-col>
        <p style="font-size: 18px;">STORY ABOUT NI WAYAN YANI THE FOUNDER OF YANI SILVER SMITH</p>
        <p>
          Yani Silver was established in 1987, located in Celuk – Sukawati, the center of the gold and silver jewelry
          industry in Bali. Ni Wayan Yani, the founder of Yani Silver has helped her parents in making silver jewelry since 1971. inspired by Bali and its time honored jewelry making traditions, Ni Wayan Yani dedicated to creating one of a kind jewelry and preserving the rich heritage of Bali. As time passed by, order from various countries kept coming until end of 1998, when Yani Silver had employed more than 50 silversmiths around Celuk Silver Village area.
        </p>
        <p>
          In 2005, this company and business of Yani Silver is passed on to the son of Ni Wayan Yani, Komang
          Wijayana, who is now managing this business with his wife. To deal with the global competition in silver
          and gold jewelry business, Yani Silver always tries the best to innovate and grow bigger, in order to
          maintain this business.
        </p>
        <p>
          About our jewelry, we craft our jewelry by hand, one piece at a time, through a unique 8 step process starting with a hand-sketched and watercolor design, followed by a wax carving and master casting of the piece, and ending with the hand setting of each gemstone. Over the years we have stayed true to the authentic jewelry making techniques of the Balinese royal courts chain weaving, hand hammering precious metals, carving intricate back grille scenes inspired by nature, and the textured jawan motif,traditionally founded In the decoration of sacred objects. Each one of a kind piece is imbued with meaning through powerful design and dramatic details.
        </p>
      </b-col>
    </b-row>
    <b-row class="my-5">
      <b-col
        cols="12"
        md="5"
        class="mx-auto"
      >
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              width="100%"
              height="400"
              id="gmap_canvas"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.9356964825415!2d115.27146231412974!3d-8.602172689737493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd23e2dbc5c5669%3A0x83080cc132861fac!2sYani+Silver+Bali!5e0!3m2!1sid!2sid!4v1546744571834"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
          </div>
          <style>
          .mapouter {
            text-align: right;
            height: 400px;
            width: 100%;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 400px;
            width: 100%;
          }
          </style>
        </div>
      </b-col>
      <b-col
        cols="12"
        md="5"
        class="mx-auto my-3"
      >
        <b-row class="my-3">
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/r3trXdW/Q-9.jpg"
              alt="left image"
            >
          </b-col>
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/DCb4SFN/Q-4.jpg"
              alt="left image"
            >
          </b-col>
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/qdMPSVj/Q-6.jpg"
              alt="left image"
            >
          </b-col>
        </b-row>
        <b-row class="my-3">
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/KzRZFSd/IMG-0006.jpg"
              alt="left image"
            >
          </b-col>
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/56t3Lnj/IMG-0003.jpg"
              alt="left image"
            >
          </b-col>
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/D82vtRD/Old-Toko.jpg"
              alt="left image"
            >
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/3d23Sb8/IMG-0410.jpg"
              alt="left image"
            >
          </b-col>
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/rm7yW5L/IMG-0426.jpg"
              alt="left image"
            >
          </b-col>
          <b-col>
            <img
              class="img-fluid"
              src="https://i.ibb.co/DVWj7gV/Q-3.jpg"
              alt="left image"
            >
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<style scoped>
p:first-child {
  text-align: center;
  text-indent: 0;
}

p {
  text-align: justify;
  text-indent: 60px;
}
</style>

