<template>
  <div id="contact-us">
    <b-row class="text-center">
      <b-col>
        <h2 class="h2 font-weight-bold">Contact Us</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="6">
        <p class="font-weight-bold">Customer Service & Partnership</p>
        <p>Phone / SMS / Whatsapp : +62817565156
          <br>Email : wijayana.yanisilver@gmail.com
        </p>
        <p class="font-weight-bold">Workshop & Showroom</p>
        <p>
          Address : Jalan Raya Celuk No. 9, Desa Celuk, Sukawati, Gianyar,
          Bali, Indonesia (80582)
          <br>Phone / Fax : +62361298512
          <br>Operational : Sunday – Saturday, 09.00 am until 05.00 pm
        </p>
      </b-col>
      <b-col md="6">
        <p class="font-weight-bold">Send Message</p>
        <b-form>
          <b-form-input
            class="my-2"
            type="text"
            required
            placeholder="Enter name"
          ></b-form-input>
          <b-form-input
            class="my-2"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
          <b-form-textarea
            class="my-2"
            placeholder="Enter Message"
            :rows="3"
            :max-rows="6"
          ></b-form-textarea>
          <b-button
            type="submit"
            class="bg-primary"
          >Send</b-button>
        </b-form>
      </b-col>
    </b-row>
  </div>
</template>
