<template>
  <div id="how-to-order">
    <b-row class="text-center">
      <b-col>
        <h2 class="font-weight-bold">How to Order</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="6">
        <h5 class="h5 font-weight-bold my-sm-4">ORDERING STEP</h5>
        <ul>
          <li>Please send us the code and quantities of the items that you interest to our email at (logo email) wijayana.yanisilver@gmail.com or (logo whatsapp) +62817565156</li>
          <li>
            Once you send us a list that you interest, we will send a confirmation within 24 hours to let you
            know that we have receive your request.
          </li>
          <li>
            Then we will make a pro-forma invoice which outline cost of silver order, total weight, and time
            of expected delivery.
          </li>
          <li>
            Your order will shipped directly from Bali to your address after we received payment
            confirmation.
          </li>
        </ul>
      </b-col>
      <b-col md="6">
        <h5 class="h5 font-weight-bold my-sm-4">PAYMENT</h5>
        <ul>
          <li><span class="font-weight-bold">Paypal</span><br /> komangwijayana@yahoo.com</li>
          <li class="font-weight-bold">T/T (Telegraphic Transfer) / Wire Transfer</li>
          <li>
            <span class="font-weight-bold">Bank Name : DANAMON BANK - TEUKU UMAR DPS</span>
            <br />Account No. : 003549749400
            <br />Swift Code : BDI NIDJA
            <br />Branch Code : 360 BDI TEUKU UMAR
            <br />Bank Address : TEUKU UMAR No. 121C, DENPASAR, BALI, INDONESIA
            <br />Beneficiary Name : I KOMANG WIJAYANA
          </li>
          <li class="font-weight-bold">Western Union</li>
        </ul>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        sm="12"
        md="6"
      >
        <p class="h5 font-weight-bold my-sm-4">MINIMUM ORDER</p>
        <ul>
          <li>No minimum piece per items as long as the total is US$100.</li>
          <li>There is more 5% discount if the total amount over than US$ 500 and 10% discount if total amount over than US$1000</li>
          <li>If the total amount over than US$ 1,500 you can ask for more discount by email.</li>
        </ul>
      </b-col>
      <b-col
        sm="12"
        md="6"
      >
        <p class="h5 font-weight-bold my-sm-4">SHIPPING</p>
        <div class="shipping-image">
          <img src="~/assets/images/ups-logo.svg">
          <img src="~/assets/images/ems-logo.svg">
          <img src="~/assets/images/fedex.svg">
        </div>
        <p>Approximately 3-5 days delivery time</p>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {};
</script>

<style scoped>
ul {
  padding-left: inherit;
}

.shipping-image {
  display: flex;
  flex-wrap: wrap;
}

.shipping-image img {
  margin: 5px;
  max-height: 70px;
}
</style>

